@mixin center-content($displayPercent, $proglist, $divheight,$paddingtop){
    .displayPercent{
      display: block;
      margin: 0 $displayPercent;
      padding-top: $paddingtop;
    }
    .progresslist{
      margin: 0.25em auto 0 $proglist;
    }
    .progresslist select{
      margin: 0 0 1.25em 0;
    }
    .button button{
      margin:0 0.25em 0.25em 0;
    }
    #output-block div {
      height: $divheight;
    }	
}

@media (max-width: 600px){
	@include center-content(3.8em, 3em, 1.2em,0em);
}
@media (min-width: 601px) and (max-width: 700px){
  @include center-content(5em, 4em, 1.6em,0.1em);
}
@media (min-width: 701px) and (max-width: 800px){
	@include center-content(6em, 5em, 1.6em,0.1em);
}
@media (min-width: 801px) and (max-width: 900px){
  @include center-content(7em, 6em, 1.6em,0.1em);
}
@media (min-width: 901px) and (max-width: 1100px){
  @include center-content(9em, 6em, 1.6em,0.3em);
}
@media (min-width: 1101px){
	@include center-content(12em, 9em, 1.6em,0.3em);
}